<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Evento</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event/create/">Criar Evento</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Detalhes do Evento</h1>
        <div>
            <h2>{{ evento.titulo }}</h2>
            <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
            <p><strong>Data e Hora de Início:</strong> {{ evento.data_inicio }}</p>
            <p><strong>Data e Hora de Término:</strong> {{ evento.data_termino }}</p>
            <p><strong>Local:</strong> {{ evento.local }}</p>
            {% if user.is_authenticated and user == evento.criador %}
            <p><a href="{% url 'editar_evento' evento.id %}">Editar</a></p>
            <form action="{% url 'excluir_evento' evento.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Excluir">
            </form>
            {% endif %}
        </div>
    </div>
</body>
</html>
